body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: Courier;
  background-size: cover;
  background-color: #1A1B1D;
  z-index: 0;
  background: repeating-linear-gradient(
  45deg,
  rgba(0, 0, 0, 0.2),
  rgba(0, 0, 0, 0.2) 10px,
  rgba(0, 0, 0, 0.3) 10px,
  rgba(0, 0, 0, 0.3) 20px
),
url("Background_Test02.jpg");
}
.overlay {
  position: fixed; /* Sit on top of the page content */
  width: 100vw; /* Full width (cover the whole page) */
  height: 100vh; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #1A1B1D77; /* Black background with opacity */
  z-index: -1;
}
#hex-value {
  position: absolute; 
  color: #ffffff;
  font-size: 25px;
  text-transform: uppercase; 
  opacity: 0; 
  top: 46vh; 
  left: 8vw; 
}
.registerContainer, .loginContainer {
  position: absolute;
  top: 35vh;
  width: 35vh;
  left: 42vw;
  color: #FFFFFF;
}
.registerContainer h1, .loginContainer h1 {
  font-size: 40px;
  border-bottom: 4px solid #FB9500;
  margin-bottom: 50px;
  padding: 13px 0;
  text-align: center;
}
.registerNavigation, .loginNavigation {
  display: flex;
  color: #FB9500;
  position: relative;
  float: left;
  font-size: 25px;
  top: 88vh;
  left: 82vw;
  padding: 15px;
  margin: 15px;
}
.registerNavigation:hover, .loginNavigation:hover {
  font-size: 35px;
  color: #FFA727;
  border-bottom: 2px solid #FB9500;
  cursor: pointer;
}
.textContainer {
  overflow: hidden;
  width: 100%;
  font-size: 20px;
  padding: 8px 0;
  margin: 8px 0;
  border-bottom: 2px solid #FB9500;
}
.textContainer i{
  float: left;
  width: 26px;
  text-align: center;
}
.textContainer input{
  border: none;
  outline: none;
  background: none;
  color: white;
  font-size: 18px;
  width: 80%;
  margin: 0 10px;
}
.btn_submit_register, .btn_submit_login{
  width: 100%;
  background: none;
  border: 2px solid #FB9500;
  color: white;
  padding: 5px;
  font-size: 18px;
  cursor: pointer;
  margin-top: 60px;
}
.btn_submit_register:hover, .btn_submit_login:hover {
  background: #FFA727;
}
.realTimeClock {
  width: 25vw;
  transform: translate(-50%,-50%);
  top: 5vh;
  left: 86vw;
  background: none;
  border: 2px solid #FB9500;
  color: white;
  font-size: 52px;
  position: fixed;
  text-align: center;
  float: none;
}
select {
  position: absolute;
  top: 2vh;
  left: 2vh;
  font-size: 32px;
  color: black;
  background: rgba(255,255,255,0.5);
  border: 2px solid #FB9500;
  appearance: none;
  overflow: hidden; 
}
.close, .col_btn, .randomise, .reset {
  width: 10vw;
  display: flex;
  flex-direction: column;
  background: none;
  color: white;
  font-size: 18px;
  cursor: pointer;
  border: 2px solid #FB9500;
  padding: 10px;
  margin: 10px 400px;
  position: relative;
  align-items: center;
  top: 4vh;
  left: 25vw;
}
.close:hover, .col_btn:hover, .randomise:hover, .reset:hover {
  background: #FFA727;
}
.close, .randomise, .reset {
  visibility: hidden;
}
#color-picker-container {
  visibility: hidden;
  top: 50vh;
  left: 7vw;
  position: absolute;
}
@media(max-width: 80em) {
    #realTimeClock {
      top: 5vh;
      left: 55vw;
      width: 60vw;
  }
  .registerNavigation {
    top: 88vh;
    left: 40vw;
  }
  .loginNavigation {
    top: 88vh;
    left: 40vw;
  }
}
